<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.julo.android.proxynotifier">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- for AdMob -->

    <application
        android:name="com.julo.android.proxynotifier.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_settings_input_antenna_black_48dp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.julo.android.proxynotifier.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.julo.android.proxynotifier.activities.IntroActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <receiver android:name="com.julo.android.proxynotifier.ConnectivityReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.PROXY_CHANGE" />
            </intent-filter>
        </receiver>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${fabricApiKey}" />
    </application>

</manifest>